{% load static %}
<div class="container">
    <nav class="navbar navbar-default" role='navigation'>
{#      <div class="navbar-header">  <a class="navbor-brand" href='https://www.baidu.com'>#}
{#        <img src="{% static 'images/s.jpeg' %}" width="10px" ></a>#}
{#      </div>#}

    <div>
        <ul class='nav navbar-nav' role='navigation'>
            <li><a href="{% url 'blog:blog_title' %}"> BLOG </a></li>
        </ul >
        <ul class='nav navbar-nav navbar-right'>
            {% if user.is_authenticated %} <li>
            <div class="dropdown" style="margin-top: 8px">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">{{ user.username }}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu"><li><a href="{% url 'account:password_change' %}">reset password</a></li></ul>
            </div>

{#            <a href="#">{{ user.username }}</a></li>#}
            <li><a href="{% url 'account:logout' %}">LOGOUT</a></li>
           {% else %}
            <li><a href="{% url 'account:login' %}">Login</a></li>
          {% endif %}
        </ul>

    </div>
    </nav>
 </div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %} "></script>